.button{
    width: 70px;
    height: 70px;
    border: none;
    background: #fff;
    border-radius: 50%;
    color: black;
    font-size: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.container{
    display: flex;
    justify-content: center;
}

